* {
    padding: 0;
    margin: 0;
}

/* CABEÇALHO */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 9, 0, 0.678);
    text-align: center;
    padding: 30px;
}

.titulo {
    color: cornsilk;
    font-family: monospace, Arial;
}

/* CONTEÚDO */
.conteudo {
    min-height: 100vh;
    background-color: white;
}

.conteudo__cabecalho {
    margin: 0px 0px 0px 15px;
    color: darkorange;
    font: 800 20px Arial;
}

/* PRODUTO */
.produto__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 15px;
    column-gap: 15px;
}

.produto {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 242px auto;
    background-color: #efefef;
    width: 33rem;
    height: 20rem;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.produtoMerged_nomeDesc {
    align-items: center;
    margin: 0px 0px 0px 12px;
    justify-content: space-between;
}

.produto__nome {
    color: rgb(46, 46, 55);
    font: 500 19px Arial;
    margin: 0px 0px 0px 0px;
}

.produto__img {
    border-radius: 5px;
    width: 350px;
}

.produto__preco {
    text-align: center;
    font: 700 20px Arial;
}

.produto__desc {
    font: 700 11px Arial;
    font-family: poppins;
    color: rgb(139, 140, 153);
    text-align: left;
}

/* RODAPÉ */
.rodape {
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    padding: 10px;
    text-align: center;
}
