* {
    padding: 0;
    margin: 0;
}

/* CABEÇALHO */
.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 9, 0, 0.678);
    text-align: center;
    padding: 30px;
}

.titulo {
    color: cornsilk;
    font-family: monospace, Arial;
}

/* CONTEÚDO */
.conteudo {
    min-height: 100vh;
    padding: 20px 80px;
    background-color: white;
}

.conteudo__cabecalho {
    color: darkorange;
    font: 800 20px Arial;
    margin-bottom: 10px;
}

/* PRODUTO */
.produto__container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;
    padding: 0px;
}

.produto {
    display: grid;
    background-color: #efefef;
    grid-template-columns: auto auto;
    width: 400px;
    border-radius: 10px;
    padding: 28px 90px 80px 113px;
    height: 178px;;
    font-size: 18px;
    text-align: center;
}

.produto__nome {
    display: flex;
    color: rgb(46, 46, 55);
    font: 500 19px Arial;
    margin: 0px 0px 0px 11px;
}

.produto__img {
    display: flex;
    border-radius: 5px;
    width: 350px;
    margin: 0px 0px 0px -75px;
}

.produto__preco {
    text-align: center;
    font: 700 20px Arial;
    padding: 0px 62px 153px 0px;
}

.produto__desc {
    font: 700 11px Arial;
    font-family: poppins;
    color: rgb(139, 140, 153);
    text-align: left;
    margin: -200px -86px 0px 0px;
    padding: 0px 8px 0px 8px;
}

/* RODAPÉ */
.rodape {
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    padding: 10px;
    text-align: center;
}
